@font-face {
    font-family:Quicksand;
    src:url('Quicksand_Book.otf');
}
@font-face {
    font-family:Quicksand;
    font-weight:bold;
    src:url('Quicksand_Bold.otf');
}

html, body {
    height:100%
}

body {
    margin:0px;
    font-family:Quicksand, sans;
    font-size:10pt;
    background-color:#666;
    color:#FFF;
}

#pad {
    height:50%;
    width:100%;
}
#content {
    text-align:center;
    opacity:0;
}

.header {
    font-size:150%;
    margin-bottom:12px;
    font-weight:bold;
}

a {
    color:#DDD;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
