body {
    margin: 0;
    background: #233;
}

#spinner {
    display: none;

    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;

    color: white;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#controls {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 10;

    padding: 10px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.control-container {
    margin: 10px;
}

.loading #spinner {
    display: block;
}
.loading #controls {
    display: none;
}

.path-icon {
    width: 16px;
    text-align: center;
}

.map-node {
    position: absolute;
    z-index: 5;

    margin-left: -6px;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid white;
}

.map-edge {
    position: absolute;
    z-index: 2;

    height: 2px;
}

.map-path { background: white; z-index: 3; }
.map-source, .map-destination { background: white; }
.map-mark { background: black; }
.map-mages-guild { background: red; }
.map-silt-strider { background: orange; }
.map-boat { background: skyblue; }
.map-holamayan { background: aquamarine; }
.map-propylon { background: lime; }
.map-gondola { background: olivedrab; }
.map-divine { background: magenta; }
.map-almsivi { background: yellow; }
.map-region, .map-landmark { background: white; z-index: 1; }

.hide-mark .map-mark { display: none; }
.hide-mages-guild .map-mages-guild { display: none; }
.hide-silt-strider .map-silt-strider { display: none; }
.hide-boat .map-boat { display: none; }
.hide-holamayan .map-holamayan { display: none; }
.hide-propylon .map-propylon { display: none; }
.hide-gondola .map-gondola { display: none; }
.hide-divine .map-divine { display: none; }
.hide-almsivi .map-almsivi { display: none; }
.hide-edge .map-transport-edge { display: none; }
.hide-node .map-node { display: none; }
.hide-area .map-area { display: none; }
.hide-grid .map-grid { display: none; }

.map-edge.map-divine {
    background: repeating-linear-gradient(45deg, transparent, transparent 4px, magenta 4px, magenta 6px);
}
.map-edge.map-almsivi {
    background: repeating-linear-gradient(-45deg, transparent, transparent 4px, yellow 4px, yellow 6px);
}
.map-edge.map-mark {
    background: repeating-linear-gradient(-45deg, transparent, transparent 4px, white 4px, white 6px);
}

.map-grid {
    position: absolute;
    background: rgba(255,255,255,0.25);
    z-index: 1;
}
.map-grid.map-grid-v {
    top: 0;
    height: 1900px;
    width: 1px;
}
.map-grid.map-grid-h {
    left: 0;
    height: 1px;
    width: 1650px;
}
